body {
  overflow-x: hidden;
  color: #3d3d3d !important;
}
.heading {
  width: 80%;
  margin: 2rem auto;
}
.section {
  padding: 7rem 0;
  background-color: #f8f9fa;
}
.section-heading {
  font-size: 3.5rem;
  margin-bottom: 7rem;
}

.react-responsive-modal-modal {
  width: 50%;
}
